@charset "UTF-8";
a { color: inherit; text-decoration: inherit; }
body { background-color: rgb(69, 50, 105); color: rgb(255, 221, 254); font-family: verdana, sans-serif; width: 100%; }

.content { }
.footer { background-color: black; width: 100%; }

.generic { display: table; width: 100%; }
.generic .cell { display: table-cell; }
.generic .prefoot { min-height: 100vh; width: 100%; }
.generic .row { display: table-row; width: 100%; }
.generic .table { display: table; width: 100%; }

.navigation_bar { display: table; font-size: 120%; text-align: center; width: 100%; }
.navigation_bar .table a:hover { background-color: rgba(0, 0, 0, 0.2); }
.navigation_bar .table a { display: table-cell; }
.navigation_bar .table a:visited { color: inherit; }
