body {
	background-color: #002387;
}
#navbar {
	display: block;
	width: 100%;
	margin-left: 100px;
	margin: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	width: 25%;
}

a:link, a:visited {
	display: block;
	width: 100%;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #98bf21;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover, a:active {
	background-color: #7A991A;
}
#newscapsule {
	width: 100%;
}

#news {
	border-radius: 12px;
	background: #453269;
	border-color: #00759f;
	border-width: 1px;
	border-style: solid;
	margin: 5px;
	padding: 10px;
	color: white;
}
#searchblock {
	color: #ffddfe;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
}
.searchitem {
	height: 195px;
	width: 150px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 15px;
}

.thumbnail-searchitem {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.thumbnail-score {
	font-family: verdana, sans-serif;
	color: #b4c7d9;
	font-size: 13px;
	display: block;
	background-color: #453269;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
