body {
	background-color: #250d51;
	background-image: url(/static/stripe.png);
}
.mediadescriptor {
	width: 100%;
}

.mediadescriptor img {
	max-width: 100%;
}

.mediadescriptor #infobox {
	margin-right: auto;
	background-color: #453269;
	border-radius: 4px;
	box-shadow: #07162d 2px 2px 5px 0;
	display: block;
	color: #ffddfe;
	padding: 0px;
	margin: 10px 0 10px 0;
}

.mediadescriptor #description {
	font-family: verdana, sans-serif;
	font-size: 16pt;
	padding-left: 5px;
}

.mediadescriptor #descriptiontext {
	font-family: verdana, sans-serif;
	padding-left: 5px;
	padding-bottom: 5px;
}

.mediadescriptor textarea {
	width: 100%;
	box-sizing: border-box;
}

.mediadescriptor #tagarea {
	padding-bottom: 5px;
	margin: 5px;
}

.mediadescriptor .commentencapsulator {
	margin-right: 10px;
}

.mediadescriptor .comment {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 4px;
	box-shadow: rgb(7, 22, 45) 2px 2px 5px 0px;
	display: table;
	color: rgb(255, 221, 254);
	font-family: verdana, sans-serif;
	padding: 5px;
	width: 100%;
}

.mediadescriptor .commentowner {
	display: table-cell;
}

.mediadescriptor .commentowner .user {
	font-weight: bold;
	font-size: 17px;
	text-align: center;
}

.mediadescriptor .commentowner .inner img {
	padding-top: 5px;
	max-height: 100px;
	max-width: 100px;
}

.mediadescriptor .commentcontain {
	display: table-cell;
	width: 100%;
	padding-left: 15px;
	font-size: 12px;
}
.navbar #navbar {
	display: block;
	width: 100%;
	margin-left: 100px;
	margin: auto;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar li {
	float: left;
	width: 25%;
}

.navbar a:link, .navbar a:visited {
	display: block;
	width: 100%;
	color: #e1ddfe;
	font-family: verdana, sans-serif;
	font-size: 15px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar a:hover, .navbar a:active {
	background-color: rgba(150, 150, 150, 0.5);
}
.news #newscapsule {
	width: 100%;
}

.news #news {
	border-radius: 5px;
	background: #453269;
	border-color: #00759f;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	color: white;
}

.news ul {
	font-family: verdana, sans-serif;
	font-size: 82%;
}
.searchbar {
	margin-right: 15px;
}

.searchbar #searchblock {
	color: #ffddfe;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
	vertical-align: none;
}

.searchbar #textfield {
	background-color: white;
	border-radius: 2px;
	border-width: 0px;
	box-shadow: rgb(7, 22, 45) 2px 2px 5px 0px;
	width: 183px;
}
.searchblock {
	display: table;
	width: 100%;
}

.searchblock #searchcontainer {
	background-image: url(/static/top_gradient.png);
	background-position: 0% 0%;
	background-repeat: repeat-x;
	background-color: #2f175c;
	border-radius: 5px;
	box-shadow: black 2px 2px 10px 0px;
	padding: 15px;
}

.searchblock #searchbar {
	display: table-cell;
	vertical-align: top;
}

.searchblock #result {
	display: table-cell;
	width: 100%;
}
.searchitem .singlesearchitem {
	width: 150px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 0px 15px 15px 15px;
}

.searchitem .thumbnail-searchitem {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.searchitem .thumbnail-score {
	font-family: verdana, sans-serif;
	color: #b4c7d9;
	font-size: 13px;
	display: block;
	background-color: #453269;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.searchitem .ups {
	color: #3e9e49;
}

.searchitem .favorites {
	color: #fdd017;
}

.searchitem .downs {
	color: #e45f5f;
}

.searchitem a {
	text-decoration: none;
}

.searchitem img {
	display: block;
}
