.mediadescriptor {
	width: 100%;
}

.mediadescriptor img {
	max-width: 100%;
}

.mediadescriptor #infobox {
	margin-right: auto;
	background-color: #453269;
	border-radius: 4px;
	box-shadow: #07162d 2px 2px 5px 0;
	display: block;
	color: #ffddfe;
	padding: 0px;
	margin: 10px 0 10px 0;
}

.mediadescriptor #description {
	font-family: verdana, sans-serif;
	font-size: 16pt;
	padding-left: 5px;
}

.mediadescriptor #descriptiontext {
	font-family: verdana, sans-serif;
	padding-left: 5px;
	padding-bottom: 5px;
}

.mediadescriptor textarea {
	width: 100%;
	box-sizing: border-box;
}

.mediadescriptor #tagarea {
	padding-bottom: 5px;
	margin: 5px;
}

.mediadescriptor .commentencapsulator {
	margin-right: 10px;
}

.mediadescriptor .comment {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 4px;
	box-shadow: rgb(7, 22, 45) 2px 2px 5px 0px;
	display: table;
	color: rgb(255, 221, 254);
	font-family: verdana, sans-serif;
	padding: 5px;
	width: 100%;
}

.mediadescriptor .commentowner {
	display: table-cell;
}

.mediadescriptor .commentowner .user {
	font-weight: bold;
	font-size: 17px;
	text-align: center;
}

.mediadescriptor .commentowner .inner img {
	padding-top: 5px;
	max-height: 100px;
	max-width: 100px;
}

.mediadescriptor .commentcontain {
	display: table-cell;
	width: 100%;
	padding-left: 15px;
	font-size: 12px;
}
