.navbar #navbar {
	display: block;
	width: 100%;
	margin-left: 100px;
	margin: auto;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar li {
	float: left;
	width: 16.6666%;
}

.navbar a:link, .navbar a:visited {
	display: block;
	width: 100%;
	color: #e1ddfe;
	font-family: verdana, sans-serif;
	font-size: 15px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar a:hover, .navbar a:active {
	background-color: rgba(150, 150, 150, 0.5);
}
