.news #newscapsule {
	width: 100%;
}

.news #news {
	border-radius: 5px;
	background: #453269;
	border-color: #00759f;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	color: white;
}

.news ul {
	font-family: verdana, sans-serif;
	font-size: 82%;
}
