.searchitem .searchitem {
	width: 150px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 0 15px 15px 15px;
}

.searchitem .thumbnail-searchitem {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.searchitem .thumbnail-score {
	font-family: verdana, sans-serif;
	color: #b4c7d9;
	font-size: 13px;
	display: block;
	background-color: #453269;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.searchitem .ups {
	color: #3e9e49;
}

.searchitem .favorites {
	color: #fdd017;
}

.searchitem .downs {
	color: #e45f5f;
}

.searchitem a {
	text-decoration: none;
}
