.searchbar {
	margin-right: 15px;
	padding-bottom: 15px;
}

.searchbar #searchblock {
	color: #ffddfe;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
	vertical-align: none;
}

.searchbar #textfield {
	background-color: white;
	border-radius: 2px;
	border-width: 0px;
	box-shadow: rgb(7, 22, 45) 2px 2px 5px 0px;
	width: 183px;
}
