.sidebarproperties {
	font-family: verdana, sans-serif;
	color: #b4c7d9;
	text-align: left;
}

.sidebarproperties #ups {
	font-style: bold;
	color: #3e9e49;
}

.sidebarproperties #favorites {
	color: #fdd017;
}

.sidebarproperties #downs {
	color: #e45f5f;
	padding-bottom: 10px;
}
