.support #helpblock {
	background-color: rgb(69, 50, 105);
	border-radius: 4px;
	box-shadow: rgb(7, 22, 45) 2px 2px 5px 0px;
	color: rgb(255, 221, 254);
	display: table;
	font-family: verdana, sans-serif;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.support .information {
	display: table-row;
	font-size: 12px;
}

.support.commentspacer {
	margin: 10px 0 10px 0;
}

.help .commentbox textarea {
	width: 100%;
	padding-right: 5px;
	box-sizing: border-box;
	height: 100px;
}

.help .commentbox input {
	width: 100%;
}

.support .vertspacer {
	height: 10px;
	padding: 5px;
}

.support .support-information {
	font-weight: bold;
}

.support #tbusername {
	display: table-row;
}

.support #tbpassword {
	display: table-row;
}

.support .tb {
	display: table-cell;
	padding-right: 25px;
}

.support .tb input {
	border-radius: 2px;
	border-width: 0;
	box-shadow: 2px 2px 5px #07162d;
}

.support .largespacer {
	padding-top: 10px;
}

.support .fieldspacer {
	padding-top: 5px;
}

.support #button {
	padding-top: 10px;
	display: table-cell;
}

.support #button input {
	background-color: rgb(221, 221, 221);
	border-radius: 2px;
	border-style: none;
	width: 80%;
	box-shadow: 2px 2px 5px #07162d;
}

.support.donate {
	font-size: 12px;
	margin-right: 15px;
}

.support.donatebutton {
	margin-top: 12px;
}
