@charset "UTF-8";

/* Standard Namespace e622. All that's needed is to change the body's class to change the CSS of the entire page. Javascript can be used to quickly change styles with this. */
.e622 a { color: inherit; text-decoration: inherit; }
body.e622 { background-color: #250D51; background-image: url("stripe.png"); background-repeat: repeat; color: rgb(255, 221, 254); font-family: verdana, sans-serif; font-size: 100%; width: 100%; }

.e622 .bigtext { font-size: 120%; }
.e622 .box { background-color: rgba(0, 0, 0, 0.1); }
.e622 .boxpad { padding: 1vh 1vw; }
.e622 .leftpad { padding-left: 1vw; }
.e622 .upvote { color: green; }
.e622 .favorite { color: yellow; }
.e622 .downvote { color: red; }

.e622 strong { font-weight: bold; }
.e622 img.thumbnail { border-top-left-radius: 0.5vmin; border-top-right-radius: 0.5vmin; display: block; max-height: 18vw; max-width: 18vw;}
.e622 .thumbnailbar { background-color: rgba(255, 0, 255, 0.2); border-bottom-left-radius: 0.5vmin; border-bottom-right-radius: 0.5vmin; text-align: center; }
.e622 .thumbnailbox { display: inline-block; text-align: center; }

.e622 .center { text-align: center; }
.e622 em { font-style: italic; }

.e622 .content { background-color: #2F175C; background-image: url("top_gradient.png"); background-position: 0 0; background-repeat: repeat-x; border-radius: 0.5vmin; height: 100%; margin: 0 1vw; margin-bottom: 1vh; padding: 1.5vh 1vw; }
.e622 .update { background-color: #3F175C; border-radius: 0.5vmin; height: 100%; list-style-type: circle; margin: 0 1vw; margin-bottom: 1vh; padding: 1.5vh 1vw; }
.e622 input[type=text] { border-radius: 0.15vmax; border-style: none; border-width: 0; box-sizing: border-box; box-shadow: black 0.15vw 0.25vh 0.26vh 0; padding-left: 0.5vw; width: 100%; }
.e622 textarea { border-radius: 0.15vmax; border-style: none; border-width: 0; box-sizing: border-box; box-shadow: black 0.15vw 0.25vh 0.26vh 0; height: 100%; padding-left: 0.5vw; width: 100%; }
.e622 .statistic input[type=submit] { background-color: rgba(0, 0, 0, 0.3); border-radius: 0.15vmax; border-style: none; border-width: 0; box-shadow: black 0.15vw 0.25vh 0.26vh 0; max-width: 100%; width: 100%; }
.e622 .navvert input[type=submit] { border-radius: 0.15vmax; border-style: none; border-width: 0; box-shadow: black 0.15vw 0.25vh 0.26vh 0; max-width: 100%; width: 100%; }
.e622 input[type=submit] { border-radius: 0.15vmax; border-style: none; border-width: 0; box-shadow: black 0.15vw 0.25vh 0.26vh 0; max-width: 100%; /*width: 100%;*/ }
.e622 input[type=button] { border-radius: 0.15vmax; border-style: none; border-width: 0; box-sizing: border-box; box-shadow: black 0.15vw 0.25vh 0.26vh 0; padding-left: 0.5vw; width: 100%; }
.e622 input[type=password] { border-radius: 0.15vmax; border-style: none; border-width: 0; box-sizing: border-box; box-shadow: black 0.15vw 0.25vh 0.26vh 0; padding-left: 0.5vw; width: 100%; }
.e622 .footer { background-color: black; width: 100%; }
.e622 .footer .autotable { border-spacing: 0.5vw; border-collapse: separate; font-size: 60%; }

.e622 .keep { white-space: nowrap; word-break: keep-all; }

.e622 .autotable { display: table; width: auto; }
.e622 .cell { display: table-cell; vertical-align: top; }
.e622 .cell.text { display: table-cell; white-space: nowrap; }
.e622 .center { display: inline-block; margin-left: 50%; transform: translate(-50%, 0); width: auto; }
.e622 .prefoot { height: 100%; min-height: 100vh; width: 100%; }
.e622 .row { display: table-row; width: 100%; }
.e622 .table { display: table; overflow-wrap: break-word; table-layout: fixed; width: 100%; }

.e622 .media { max-height: 90vh; max-width: 100%; }
.e622 .enlargedmedia { }

.e622 .navigation_bar { display: table; font-size: 120%; text-align: center; width: 100%; }
.e622 .navigation_bar a:hover { background-color: rgba(0, 0, 0, 0.2); }
.e622 .navigation_bar a { display: table-cell; }
.e622 .navigation_bar a:visited { color: inherit; }

.e622 .notification { background-color: green; border: 0.3vmin solid #00AA00; border-radius: 0.5vmin; padding: 0.5vh 0.5vw; }
.e622 .space.horizontal { display: inline-block; width: 1vw; }
.e622 .space.small.horizontal { display: inline-block; width: 10vw; }
.e622 .space.little.horizontal{ width: 20vw; }
.e622 .space.vertical { height: 1vh; }
.e622 .smalltext { font-size: 80%; }
.e622 .suspicion { background-color: orange; border: 0.3vmin solid brown; border-radius: 0.5vmin; padding: 0.5vh 0.5vw; }
.e622 .tinytext{ font-size: 60%; }
.e622 .table-column.auto { display: table-column; width: auto; }
.e622 .table-column.big { display: table-column; width: 70%; }
.e622 .table-column.max { display: table-column; width: 100%; }
.e622 .table-column.medium { display: table-column; width: 50%; }
.e622 .table-column.small { display: table-column; width: 20%; }
.e622 .table-column.tiny { display: table-column; width: 2%; }
.e622 .warning { background-color: red; border: 0.3vmin solid brown; border-radius: 0.5vmin; padding: 0.5vh 0.5vw; }
